@media (max-width: 768px) {
  main {
    max-width: 738px;
    .heading{
      @include text(45px, 700, $color-black);
      margin-top: 56px;
      margin-bottom: 30px;
    }
    .description{
      margin-top: 60px;
    }
    .first-screen{
      margin-top: 19px;
      .first-screen__text-block{
        h2{
          margin-bottom: 21px;
          @include text(30px, 600, $color-black);
          line-height: 52px;
          width: 436px;
        }
        b{
          @include text(40px, 800, $color-red)
        }
      }
      img{
        display: none;
      }
      .first-screen__text-block{
        .first-screen__advantages{
          width: auto;
        }
      }
    }
    .process-work{
      margin-top: 56px;
      h2{
        @include text(30px, 600, $color-black);
        line-height: 37px;
        margin-bottom: 30px;
      }
      .process-work__list{
        .process-work__item{
          p{
            width: 319px;
            @include text(14px, 400, $color-black);
            line-height: 26px;
            margin-left: 10px;
          }
          h3{
            @include text(50px, 700, $color-red)
          }
        }
      }
    }
    .advantages-block{
      margin-top: 55px;
      h2{
        @include text(30px, 600, $color-black)
      }
      p.advantages-block__description{
        margin-top: 37px;
      }
      .advantages-block__list{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 24px;
        .advantages-block__item{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: auto;
          margin-top: 27px;
          h3{
            @include text(18px, 700, $color-black)
          }
          p{
            @include text(14px, 400, $color-black);
            line-height: 26px;
            max-width: 330px;
          }
          b{
            @include text(14px, 600, $color-black);
          }
        }
      }
    }
    .form-block{
      margin-left: 0;
      h1{
        @include text(40px, 800, $color-black);
        white-space: nowrap;
        margin-top: 52px;
      }
      p{
        @include text(16px, 300, $color-black)
      }
      .form-block__socials{
        .form-block__social{
          margin-top: 28px;
          margin-bottom: 34px;
        }
      }
      form{
        width: 100vw;
        height: 400px;
        padding: 49px 50px 47px 59px;
        text-align: center;
        .form-block__inputs-section{
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 7px;
          input{
            width: 405px;
            margin-top: 15px;
          }
          button{
            margin-top: 25px;
          }
        }
      }
    }
   .video-block{
     margin-top: 58px;
     h2{
       @include text(30px, 600, $color-black)
     }
     p{
       margin-top: 34px;
     }
     .video-block__video-section{
       top: 0;
       left: 0;
       .video-block__bg{
         display: none;
       }
       .video-block__video-img{
         position: static;
         top: 0;
         left: 0;
         width: 100vw;
         height: 419px;
         margin-top:34px ;
       }
     }
   }
    .example-block{
      margin-top: 56px;
      margin-bottom: 56px;
      h2{
        @include text(30px, 600, $color-black)
      }
      p{
        margin-top: 34px;
      }
      .example-block__list{
        justify-content: start;
        .example-block__item{
          width: 226px;
          height: 208px;

        }
      }
    }
  }
}







@media (max-width: 320px){
  main{
    max-width: 290px;
    .heading{
      line-height: 37px;
      @include text(30px, 700, $color-black);
      margin-top: 41px;
      margin-bottom: 11px;
    }
    .description{
      @include text(14px, 400, $color-black);
      line-height: 26px;
      margin-top: 16px;
    }
    .breadcrumbs{
      a{
        display: initial;
        &:last-child{
          display: none;
        }
      }
    }
    .first-screen{
      margin-top: 16px;
      .first-screen__text-block {
        h2 {
          line-height: 37px;
          margin-bottom: 0;
          width: auto;
          @include text(18px, 600, $color-black);
          b {
            @include text(30px, 800, $color-red);
          }
        }
        .first-screen__advantages{
          margin-left: 33px;
          height: auto;
          li{
            margin-top: 25px;
            span{
              @include text(14px, 400, $color-black);
              line-height: 24px;
              margin-top: 23px;
            }
          }
        }
      }
    }
    .process-work{
      margin-top: 36px;
      h2{
        @include text(20px, 600, $color-black);
        line-height: 30px;
        margin-bottom: 8px;
      }
      .process-work__list{
        height: auto;
        .process-work__item{
          height: auto;
          p{
            width: auto;
          }
        }
      }
    }
    .advantages-block{
      margin-top: 40px;
      h2{
        @include text(20px, 600, $color-black)
      }
      p.advantages-block__description{
        margin-top: 26px;
        @include text(14px, 400, $color-black);
      }
      .advantages-block__list{
        .advantages-block__item{
          margin-top: 25px;
          p{
            width: auto;
          }
        }
      }
    }
    .form-block{
      h2{
        margin-top: 41px;
        @include text(22px, 800, $color-black);
        line-height: 26px;
        white-space: pre-wrap;
      }
      p{
        @include  text(14px, 300, $color-black);
        line-height: 22px;
        margin-top: 0;
      }
      .form-block__socials{
        .form-block__social{
          margin-top: 21px;
          margin-bottom: 26px;
        }
      }
      form{
        border-top: 1px solid #E5E5E5;
        box-shadow: none;
        padding: 0;
        width: -webkit-fill-available;
        h3{
          @include text(18px,500,$color-black);
          line-height: 26px;
          margin-top: 25px;
          b{
            @include text(18px, 700, $color-orange);
          }
        }
        p{
          margin-top: 9px;
          @include text(14px,400,$color-black);
        }
        .form-block__inputs-section{
          margin-top: 13px;
          input{
            width: -webkit-fill-available;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
    .video-block{
      margin-top: 48px;
      h2{
        @include text(20px, 600, $color-black)
      }
      p{
        @include text(14px, 400, $color-black);
        line-height: 26px;
        margin-top: 28px;
      }
      .video-block__video-section{
        .video-block__video-img{
          height: 163px;
        }
      }
    }
    .example-block{
      margin-top: 48px;
      margin-bottom: 56px;
      h2{
        @include text(20px, 600, $color-black)
      }
      p{
        @include text(14px, 400, $color-black);
        line-height: 26px;
        margin-top: 16px;
      }
      .example-block__list{
        margin-top: 0;
        justify-content: center;
        .example-block__item{
          margin-top: 16px;
          width: 130px;
          height: 120px;
        }
      }
    }
  }
}


@media (max-width: 1500px){
  .first-screen{
    .first-screen__img-block{
      overflow: hidden;
    }
  }
}
