
- const headerNav =  ['Каталог товаров', 'Доставка и оплата', 'Цены', 'Контакты']
- const socialArray = ['vk', 'telegram', 'instagram', 'whatsapp']

header.header
  +png('logo', 'header__logo')
  button(type="button" class="header__burger")
    +svg('burger-menu')
  nav.header__nav
    ul
      +navHeader(headerNav, 'header__nav-item')
  a(href="tel:+78125092198").header__phone +7 (812)
    b  509 21 98
  a.header__call(href="#") перезвоните мне
  +socialBtn(socialArray, 'header__social')
  .header__btns
    button(type="button")
      +svg('search')
    button(type="button")
      +svg('like')
    button(type="button")
      +svg('cart')
    button(type="button")
      +svg('burger-menu')
