
footer{
  background-color:  #0C2F33;
  padding: 83px 15px 92px 15px;


  h3{
    @include text(22px, 700, $color-white)
  }
  a{
    @include text(14px, 400, $color-white);
  }
  .footer__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 355px;
    .footer__item{
      margin-top: 18px;
      width: 148px;
    }
  }
  .footer__container{
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer__working-hours{
    .footer__time{
      display: flex;
      margin-top: 16px;
    }
    .footer__location{
      display: flex;
      margin-top: 16px;
    }
    .footer__social{
      width: 20px;
      height: 20px;
      margin-right: 41px;
      margin-top: 37px;
    }
    p{
      font-size: 14px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      color: $color-white;
      margin-left: 7.5px;
      span{
        font-size: 14px;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        color: $color-blue;
      }
    }
  }
}
@import "mediaFooter";

