@media (max-width: 768px) {
  footer{
    padding: 0;
    .footer__container{
      justify-content: center;
    }
    .footer__catalog{
      display: none;
    }
    .footer__information{
      display: none;
    }
    .footer__working-hours{
      h3{
        display: none;
      }
      .footer__time{
        display: none;
      }
      .footer__location{
        display: none;
      }
      .footer__social{
        margin: 24px 20px 24px 20px;
      }
    }
  }
}

@media (max-width: 320px){

}
